ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
hr {
  background-color: aliceblue;
}
#utilizarCadastro {
  display: flex;
  justify-content: center;
}
#excluir {
  display: flex;
  justify-content: center;
}
ion-content.background{
  --background: url(../../assets/matheusboi.png) 0 0/100% 350px no-repeat;
}
#textoCentral{
   text-align: center;
   margin-bottom: -40px;
   margin-top: 100px;
}
#utilizar{
  width: 130px;
}
