<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center">{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Prezado(a) usuário(a),</ion-card-title>
      <ion-card-subtitle>
        O aplicativo em questão tem como objetivo facilitar a realização de uma
        determinada tarefa, oferecendo uma solução prática, eficiente e
        intuitiva para a sua execução. Por meio dele, você poderá realizar o
        controle de estoque da despensa da sua casa de forma organizada e
        efetiva. O aplicativo conta com recursos e funcionalidades que visam
        oferecer uma experiência de uso agradável e descomplicada, permitindo
        que você possa concluir suas tarefas de forma rápida e fácil. Além
        disso, a interface do aplicativo foi projetada para ser simples e
        acessível, facilitando o acesso às funcionalidades e recursos
        disponíveis. Esperamos que o aplicativo seja útil para você e que possa
        atender às suas necessidades. Caso tenha alguma dúvida ou sugestão, não
        hesite em entrar em contato conosco. Agradecemos pelo seu interesse e
        pela confiança em nosso aplicativo.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Atenciosamente, <br />
      A equipe de desenvolvimento.
    </ion-card-content>
  </ion-card>
</ion-content>
